*{
    font-family: Cambria, Cochin,'Times New Roman' sans-serif;
    line-height: 7mm;

}
body {
    display: flex;
    flex-direction: column;
    margin: 50px;
    padding: 20px;
    border-style: solid;
    justify-content: center;
    background-image:linear-gradient(rgb(189, 168, 196),white);
    height: fit-content;
  }
a{
    color: rgb(93, 82, 241);
    text-decoration: none;
    font-weight: bold;
    font-size: 20px;
  }
p{
    font-size: 17px;
}
  main{
    flex: 1;
  }
.img {
    width: 40px;
    height: 40px;
  }
ul{
    list-style: none;
    padding: 0;
  }
.container{
    width: 100%;
    display: flex;
    justify-content: space-evenly;
  }
a{
    border-bottom: 2px solid transparent;
  }
a:hover{
    border-bottom-color: rgb(0, 26, 255);
  }